.container{
    display:flex;
    height:"300px";
}
.leftdiv{
    width:70%;
    height:70%;
}
.leftdiv1{
    width:70%;
    height:70%;
}
.leftdiv2{
    width:70%;
    height:100%;
}
.rightdiv{
    width:30%;
    height:100%;
}
.rightdiv1{
    width:100%;
    height:100%;
    padding-left: 5px;
}
.rightdiv2{
    width:100%;
    height:100%;
    padding-left: 5px;
}
.rightdiv3{
    width:100%;
    height:100%;
    padding-left: 5px;
}
.rightdiv4{
    width:100%;
    height:100%;
    padding-left: 5px;
}
.rightdiv5{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smooth-image {
    transition: opacity 1s;
  }
  .image-visible {
    opacity: 1;
  }
  .image-hidden {
    opacity: 0;
  }
  
  .my-masonry-grid {
  
    display: flex;
    margin-left: -20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 20px;
  }
